$pink-1-100: #ff5777;
$pink-2-100: #ff6c88;
$pink-3-100: #ff8199;
$pink-4-100: #ff96aa;
$pink-5-100: #ffabbb;

$pink-1-80: rgba(255, 87, 119, .8);
$pink-2-80: rgba(255, 108, 136, .8);
$pink-3-80: rgba(255, 129, 153, .8);
$pink-4-80: rgba(255, 150, 170, .8);
$pink-5-80: rgba(255, 171, 187, .8);


$pink-1-50: rgba(255, 87, 119, .5);
$pink-2-50: rgba(255, 108, 136, .5);
$pink-3-50: rgba(255, 129, 153, .5);
$pink-4-50: rgba(255, 150, 170, .5);
$pink-5-50: rgba(255, 171, 187, .5);

$purple-1-100: #8131CC;
$purple-2-100: #8B40D1;
$purple-3-100: #944FD4;
$purple-5-100: #9D5ED8;
$purple-4-100: #A66CDB;

$purple-1-80: rgba(129, 49, 204, .8);
$purple-2-80: rgba(139, 64, 209, .8);
$purple-3-80: rgba(148, 79, 212, .8);
$purple-5-80: rgba(157, 94, 216, .8);
$purple-4-80: rgba(166, 108, 219, .8);

$blue-1-100: #0185DD;
$blue-2-100: #0193F4;
$blue-3-100: #0B9DFE;
$blue-4-100: #20A5FE;
$blue-5-100: #34ADFE;

$blue-1-80: rgba(1, 133, 221, .8);
$blue-2-80: rgba(1, 147, 244, .8);
$blue-3-80: rgba(11, 157, 254, .8);
$blue-4-80: rgba(32, 165, 254, .8);
$blue-5-80: rgba(52, 173, 254, .8);

$red-1-100: #F30800;
$red-2-100: #FF1109;
$red-3-100: #FF4842;
$red-4-100: #FF5A55;
$red-5-100: #FF7F7A;

$red-1-80: rgba(243, 8, 0, .8);
$red-2-80: rgba(255, 17, 9, .8);
$red-3-80: rgba(255, 72, 66, .8);
$red-4-80: rgba(255, 90, 85, .8);
$red-5-80: rgba(255, 127, 122, .8);

$green-1-100: #429D48;
$green-2-100: #48AD4F;
$green-3-100: #52B759;
$green-4-100: #61BD67;
$green-5-100: #6FC375;

$green-1-80: rgba(66, 157, 72, .8);
$green-2-80: rgba(72, 173, 79, .8);
$green-3-80: rgba(82, 183, 89, .8);
$green-4-80: rgba(97, 189, 103, .8);
$green-5-80: rgba(111, 195, 117, .8);

$gray-1-100: #8E8E8E;
$gray-2-100: #979797;
$gray-3-100: #9F9F9F;
$gray-4-100: #A7A7A7;
$gray-5-100: #AFAFAF;
$gray-6-100: #B7B7B7;
$gray-7-100: #BFBFBF;
$gray-8-100: #C7C7C7;

$gray-1-80: rgba(142, 142, 142, .8);
$gray-2-80: rgba(151, 151, 151, .8);
$gray-3-80: rgba(159, 159, 159, .8);
$gray-4-80: rgba(167, 167, 167, .8);
$gray-5-80: rgba(175, 175, 175, .8);
$gray-6-80: rgba(183, 183, 183, .8);
$gray-7-80: rgba(191, 191, 191, .8);
$gray-8-80: rgba(199, 199, 199, .8);

$white-1-100: #FFFFFF;
$white-2-100: #FCFCFC;
$white-3-100: #FAFAFA;
$white-4-100: #F8F8F8;
$white-5-100: #F3F3F3;

$black-1-100: #000000;
$black-1-80: rgba(0, 0, 0, .8);
$black-1-50: rgba(0, 0, 0, .5);
$black-1-20: rgba(0, 0, 0, .2);

$bronze: #CD7F32;
$silver: #C0C0C0;
$gold: #ffdb58;
