@import "../../shared/scss/color-variables";

.icon {
  width: 50px;
  height: 50px;
  color: $pink-1-100;
}

.item {
  cursor: pointer;

  &:hover {
    background-color: $pink-5-50;
    color: $white-1-100;
    font-weight: bold;
  }
}

.img-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  .avatar {
    margin: auto;
    color: $white-1-100;
  }
}

.icon-btn {
  cursor: pointer;

  &:hover {
    background-color: $gray-1-100;
  }
}

.card-clickable {
  cursor: pointer;

  &:hover {
    box-shadow: 0 .75rem 2rem rgba(0, 0, 0, .15) !important;
  }
}
